.nested-fields
  .row
    .col-lg-6
      .form-group
        = f.label 'Requerimiento'
        = f.text_field :title, class: 'form-control'
    .col-lg-6
      .form-group
        = f.label 'Horas estimadas'
        = f.text_field :hours, class: 'form-control'
    -# = f.check_box :status
    -# = link_to_remove_association "remove task", f
