.app_content-header
  %h4 Tablero General
.container-fluid
  .row
    .col-lg-3
      .project_card
        .project_card-header
          .project_card-title Progress circle
        .project_card-body
          .progress-circle.mx-auto{"data-value" => "25"}
            %span.progress-left
              %span.progress-bar.border-danger
            %span.progress-right
              %span.progress-bar.border-danger
            .progress-value.w-100.h-100.rounded-circle.d-flex.align-items-center.justify-content-center
              .h2.font-weight-bold
                25
                %sup.small %
    .col-lg-4
      .project_card
        .project_card-header
          .project_card-title Rendimiento de Desarrolladores
        .project_card-body
          %ul.list-group.mb-0
            - @developers.each do |dev|
              - task_progress = 0
              - task_progress = ((dev.tasks.completed.size.to_f / dev.tasks.size.to_f) * 100).round unless dev.tasks.count.zero?
              %li.list-group-item
                .clearfix
                  .float-left
                    %strong
                      = task_progress.to_s + '%'
                  .float-right
                    %small.text-muted= dev.name
                .progress.progress-xs{style: "height: 5px;"}
                  .progress-bar.bg-azure{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => task_progress, role: "progressbar", style: "width: #{task_progress}%"}
    .col-lg-4
      .project_card
        .project_card-header
          .project_card-title Otro card
        .project_card-body
